@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('public/Yes_Bank_Logo.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(19px);
    color: #fff;
    padding: 30px 40px;
    border-radius: 4px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.wrapper .forgot-password{
    display: flex;
    font-size: 14px;
    margin: -15px 0 15px;
}

.forgot-password a{
    color: #fff;
    text-decoration: none;
}

.wrapper button{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    cursor: pointer;
    font-size: 16px;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    
}

.register-link a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}