
*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Poppins', 'sans-serif';
    -webkit-font-smoothing: antialiased;

}

.back-btn span{
    
    text-decoration: underline;
    margin: 10px 0px;
}

.sender-wrapper{
    
    width: 450px;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    padding: 30px 40px;
    border-radius: 4px;
}

.sender-wrapper .input-box{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.sender-wrapper input{
    font-size: 17px;
    padding: 20px;
}

.submit-btn{
    display: flex;
    justify-content: center;
}

.submit-btn span{
    border-radius: 27px;
    padding: 10px 20px;
    border: 2px solid;
    cursor: pointer;
}